.accountForgotPassword {
  $pointer_cursor: pointer;
  &__container {
    background: $white;
    border-radius: 50px;
    padding: 34px;
    margin-top: 10%;
    min-height: 400px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__back-btn {
    &__content {
      @include flex-box;
      position: relative;
    }
    @include flex-box;
    cursor: $pointer_cursor;
    position: absolute;
    &__back-text {
      padding-left: 0.625rem;
      border: none;
      background-color: $white;
      @include font-family-width(normal, 600, 1.125rem, 1.25rem, $lightGrey);
    }
  }
  &__act-text {
    padding: 0.625rem 0rem;
    @include font-family-width(normal, 700, 1.25rem, 1.615rem, $lightpurple80);
  }

  &__main-content {
    margin-top: 0.625rem;
  }
  &__sub-title {
    font-family: $font-family-poppins;
    @include font-family-width(normal, 600, 1rem, 1.5rem, $grey80);
    &__text {
      @include font-family-width(normal, 400, 0.875rem, 1.5rem, $grey90);
    }
    &__otp {
      @include font-family-width(normal, 400, 0.75rem, 1.125rem, $grey90);

      &__text {
        cursor: $pointer_cursor;
        @include font-family-width(normal, 600, 0.75rem, 1.125rem, $skyBlue);
      }
    }
  }
}
